langchain_community
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
google_generativeai
langchain_google_genai
langchain_groq
python-dotenv
langchain_nomic
langchain_text_splitters
langchain_mistralai
wikipedia
langchain_huggingface
google_search_results
faiss_cpu
sentence_transformers
ipykernel
youtube_search